<br>
<div class="p-5 mb-4 bg-dark rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-white" style="text-align:center">Contact Sheet</h1>
        <h4 class="col-md-12 text-white" style="text-align:center">Send me a message or connect with me to get in touch!
        </h4>
        <ul class="list-group list-group flush" style="text-align:center">
            <li class="list-group-item fs-2 py-4 bg-dark text-white"><a href="mailto:markosanchez800@gmail.com">markosanchez800@gmail.com</a></li>
            <li class="list-group-item fs-2 py-4 bg-dark text-white"><a href="https://github.com/markosanchez800">Marko800 on Github</a></li>
            <li class="list-group-item fs-2 py-4 bg-dark text-white"><a href="https://www.linkedin.com/in/marko-sanchez-800/">Marko Sanchez on LinkedIn</a></li>
            <li class="list-group-item fs-2 py-4 bg-dark text-white"><a href="/assets/Resume.pdf">Download my Resume</a></li>
    </div>
</div>