<br>
<div class="p-5 mb-4 bg-dark rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold text-white" style="text-align:center">Skills and Technologies</h1>
              <h4 class="col-md-12 text-white" style="text-align:center">These are the technologies that I am familiar with and the skills I have!</h4>
              <ul class="list-group list-group flush" style="text-align:center">
                <li class="list-group-item fs-2 py-4 bg-dark text-white">HTML5</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Cascading Style Sheets (CSS)</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Bootstrap</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">JavaScript</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Web APIs</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">jQuery</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Server Side APIs</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Insomnia</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">AJAX/Fetch</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">JSON</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">GitHub</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Node.js</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">ES6</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Express.js</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Rest API</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Handlebars Templating</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Heroku</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Express Sessions</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Relational Databases</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">MySQL</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Sequelize ORM</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Object Oriented Programming</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Pseudocoding</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Data Structures and Algorithms</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Frontend Development</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Backend Development</li>
                <li class="list-group-item fs-2 py-4 bg-dark text-white">Full Stack Development</li>
            </div>
          </div>
